<div id="wrapperMain">
    <%- include('../layout/header.ejs', {user, currentUrl}) %>

    <main>
        <div class="content">
            <h1>Post: "<%= post.url%>"</h1>
            <div class="posts">
                <div class="post" id="<%= post.id%>">
                    <h3><%= post.title %></h3>
                    <p><%=post.body %></p>
                    <div class="postImgs">
                        <% post.images.forEach(image => {%>
                            <img src="/uploads<%=image.path %>" alt="img">
                        <%}) %>
                    </div>
                    <div class="postBottom">
                        <h5>Author: <a href="/posts/<%=post.owner.login %>"><%=post.owner.login %></a></h5>
                        <% if(post.owner.login === user.login){ %>
                            <button class="deletePost">Delete</button>
                        <% } %>
                    </div>
                </div>
                <div class="comments">
                    <h3>Comments</h3>
                    <% if(comments.length === 0){ %>
                        No comments
                    <% } else {%>
                        <%- include('../post/comment.ejs', {comments, moment}) %>
                    <% } %>
                </div>
            </div>
        </div>
        <% if(!user.login || !user.id) { %>
        <div>  
            <div class="formRegistration">
                <h2>Registration</h2>
                <form>
                    Login<input id="registrationLogin" type="text">
                    Password<input id="registrationPassword" type="password">
                    Confirm password<input id="registrationConfirmPassword" type="password">
                    <div class="twoBtn">
                        <button id="registrationSend">Submit</button>
                        <button id="toLogin">To login</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class="formLogin">
                <h2>Login</h2>
                <form>
                    Login<input id="loginLogin" type="text">
                    Password<input id="loginPassword" type="password">
                    <div class="twoBtn">
                        <button id="loginSend">Submit</button>
                        <button id="toRegistration">To registration</button>
                    </div>
                </form>
            </div>
        </div>
        <% } else {%>
        <div class="Panels">
            <div class="controlPanel">
                <h3>Control panel</h3>
                <a href="/posts/add">Create post</a>
                <a id="logout" href="/">Logout</a>
            </div>
            <div class="addCommentPanel">
                <h3>Add comment</h3>
                <textarea placeholder="Some text" id="bodyComment" type="text"></textarea>
                <button id="addComment">Create</button>
            </div>
        </div>
         <% }%>
    </main>
    
    <%- include('../layout/footer.ejs') %>
</div>

